@font-face {
	font-family: 'SancreekRegular';
	src: url('../fonts/sancreek-regular-webfont.eot');
	src: url('../fonts/sancreek-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sancreek-regular-webfont.woff') format('woff'), url('../fonts/sancreek-regular-webfont.ttf') format('truetype'), url('../fonts/sancreek-regular-webfont.svg#SancreekRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: url(../images/bg-body.gif) repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin: 0;
    color: #fcf3b2;
}

#header {
	background: url(../images/bg-header.png) repeat-x;
}

.active {

    a {
        background: url(../images/bg-menu-selected-left.png) no-repeat left center;
        color: #fcf3b2;
        color: #fcf3b2;
    }

    span {
        padding: 5px 10px;
        background: url(../images/bg-menu-selected-right.png) no-repeat right center;
    }
}

#top-body h1 {
	background: url(../images/bg-heading.png) no-repeat center;
	font-family: 'SancreekRegular';
}

#bottom-body {
    background-color: #242424;
    font-family: Helvetica, Arial, sans-serif;
    height: 700px;

    h1 {
        background: url(../images/bg-heading2.png) no-repeat center;
        font-family: 'SancreekRegular';
        color: white;
    }

    p {
        color: #717272;;
    }

    button {
        font-family: 'SancreekRegular';
        color: white;
        font-size: 20px;
        padding: 10px 25px;
    }
}

#footer {
	background: url(../images/bg-footer.jpg) repeat;
    font-family: Helvetica, Arial, sans-serif;

    p {
        color: #aab4b6;
    }
}

@media (min-width: 1024px) {
    #bottom-body {
        max-height: 280px !important;
    }
}