@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SancreekRegular';
  src: url('./assets/fonts/sancreek-regular-webfont.eot');
  src: url('./assets/fonts/sancreek-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/sancreek-regular-webfont.woff') format('woff'), url('./assets/fonts/sancreek-regular-webfont.ttf') format('truetype'), url('./assets/fonts/sancreek-regular-webfont.svg#SancreekRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(./assets/images/bg-body.gif) repeat;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  color: #fcf3b2;
}

#header {
  background: url(./assets/images/bg-header.png) repeat-x;
}

.active a {
  background: url(./assets/images/bg-menu-selected-left.png) no-repeat left center;
  color: #fcf3b2;
  color: #fcf3b2;
}

.active span {
  padding: 5px 10px;
  background: url(./assets/images/bg-menu-selected-right.png) no-repeat right center;
}

#top-body h1 {
  background: url(./assets/images/bg-heading.png) no-repeat center;
  font-family: 'SancreekRegular';
}

#bottom-body {
  background-color: #242424;
  font-family: Helvetica, Arial, sans-serif;
  height: 700px;
}
#bottom-body h1 {
  background: url(./assets/images/bg-heading2.png) no-repeat center;
  font-family: 'SancreekRegular';
  color: white;
}

#bottom-body p {
  color: #717272;
  ;
}

#bottom-body button {
  font-family: 'SancreekRegular';
  color: white;
  font-size: 20px;
  padding: 10px 25px;
}

#footer {
  background: url(./assets/images/bg-footer.jpg) repeat;
  font-family: Helvetica, Arial, sans-serif;
}

#footer p {
  color: #aab4b6;
}

@media (min-width: 1024px) {
  #bottom-body {
    max-height: 280px !important;
  }
}